.pictureCardV{
  padding-left: 30%;
  padding-bottom: 20px;
}
.infoV{
  padding-left: 10%;
  padding-right: 10%;
}
.sub{
  margin-left: 20%;
  border-radius: 25px;
}
.chat{
  margin-left: 2%;
  border-radius: 25px;
}

