.pictureCard{
  text-align: center;
}

.Card1{
  margin-left: 25%;
  margin-top: 60px;
  width: 50%;
}
.button1{
  width: 30%;
}

.bt2 {
  position: relative;
  text-align: right;
  padding-right: 10%;
}
.btbelow{
  position:relative;
  padding-top: 300px;
}
.info{
  padding-left: 10%;
  padding-right: 10%;
}
.followers{
  margin-left: 20%;
  border-radius: 25px;
}
.fans{
  margin-left: 2%;
  border-radius: 25px;
}